<ion-header>
  <ion-toolbar>
    <ion-title>Facturacion</ion-title>
  </ion-toolbar>
  <!-- <div class="centrar">
    <ion-button [routerLink]="['/registro']">
      Cerrar Sesion
    </ion-button>
  </div> -->
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-text>
          <h3>Tus productos</h3>
          <div>
            <ion-list [inset]="true">
              <ion-item *ngFor="let pr of produ" >
                <ion-label> {{pr.bonbre}} - {{pr.categoria}} - {{pr.color}} - {{pr.precio}}  - {{pr.talla}} - {{pr.tipo}} </ion-label>
              </ion-item>
            </ion-list>
          </div>
        </ion-text>
        <ion-row>
          <ion-col size="12">
            <ion-text *ngFor="let item of productos"  color="primary">
             Producto: {{item.nombre}}, Precio: {{item.tipoFactura}}
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="presentActionSheet()">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
